<template>
    <div>
        <Navbar />
        <div class="container-fluid d-flex justify-content-between">
            <Sidebar activeLink="category"/>
            <div class="container mt-5 mx-5 w-75">
                <Category />
            </div>
        </div>
    </div>
</template>

<script>
import Sidebar from "../navigation/Sidebar";
import Navbar from "../navigation/Navbar";
import Category from "../category/Category";

export default {
    components: {
        Sidebar,
        Navbar,
        Category
    }
};
</script>

<style></style>
