<template>
    <div>
        <Navbar />
        <div class="container-fluid d-flex justify-content-between">
            <Sidebar activeLink="inventory"/>
            <div class="container mt-5 mx-5 w-75">
                <Inventory />
            </div>
        </div>
    </div>
</template>
<script>

import Navbar from "../navigation/Navbar";
import Sidebar from "../navigation/Sidebar";
import Inventory from "../inventory/Inventory";

export default {
    components: {
        Navbar,
        Sidebar,
        Inventory
    }
};
</script>

<style>
</style>
