<template>
 <div class="product">
  <div class="d-flex justify-content-between align-items-center mb-3">
   <span class="avail">Available Products</span>
   <button class="btn btn-dark add-product shadow" @click.prevent="$bvModal.show('addProductModal')">
    <i class="fas fa-plus-circle"></i> Add Product
   </button>
  </div>
  <table class="table shadow">
   <thead class="bg-dark text-light">
    <th class="text-center">Actions</th>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Available Stock</th>
    <th>Category</th>
   </thead>
   <tbody>
    <tr v-for="(item, index) in products.data" :key="index">
     <td class="d-flex justify-content-center align-items-center">
      <button
       class="btn btn-primary me-2"
       data-toggle="modal"
       data-target="#editProduct"
       v-on:click="
        $bvModal.show('editProductModal');
        editProduct(item);
       "
      >
       <i class="bi bi-pencil-square"></i>
      </button>
      <button
       class="btn btn-danger"
       data-toggle="modal"
       data-target="#deleteProduct"
       v-on:click="
        $bvModal.show('deleteProductModal');
        currentId(item.id);
       "
      >
       <i class="bi bi-clipboard-x"></i>
      </button>
     </td>
     <td>{{ item.id }}</td>
     <td>{{ item.name }}</td>
     <td>{{ item.price }}</td>
     <td>{{ item.stock }}</td>
     <td>{{ item.category }}</td>
    </tr>
   </tbody>
  </table>

  <pagination class="float-right pagination pagination-sm" :data="products" @pagination-change-page="fetchProducts">
   <span slot="prev-nav" class="text-dark">&lt; Previous</span>
   <span slot="next-nav" class="text-dark">Next &gt;</span>
  </pagination>

  <b-modal id="addProductModal" title="Add Product" hide-footer>
   <form @submit.prevent="add()" class="form p-3">
    <div class="form-group">
     <label for="name">Name</label>
     <input class="form-control" type="text" id="name" v-model="product.name" />
    </div>
    <div class="form-group">
     <label for="price">Price</label>
     <input class="form-control" type="text" id="price" v-model="product.price" />
    </div>
    <div class="form-group">
     <label for="stock">Stock</label>
     <input class="form-control" type="text" id="stock" v-model="product.stock" />
    </div>
    <div class="form-group">
     <label for="category">Category</label>
     <select class="form-control" id="category" v-model="product.category">
      <option class="disabled"> -- select a category --</option>
      <option v-for="(category, index) in categories.data" :key="index">{{ category.name }}</option>
     </select>
    </div>
    <div class="form-group float-right mt-2">
     <button id="btnAddProduct" type="submit" class="btn btn-dark add-product me-2" :disabled="isDisabled">
      <i class="fas fa-plus-circle"></i> Add
     </button>
     <button type="button" class="btn btn-danger" @click="cancel()">
      Cancel
     </button>
    </div>
   </form>
  </b-modal>

  <b-modal id="editProductModal" title="Edit Product" hide-footer>
   <form @submit.prevent="update(product)" class="form p-3">
    <div class="form-group">
     <label for="name">Name</label>
     <input class="form-control" type="text" name="" id="name" v-model="product.name" />
    </div>
    <div class="form-group">
     <label for="price">Price</label>
     <input class="form-control" type="text" name="" id="price" v-model="product.price" />
    </div>
    <div class="form-group">
     <label for="stock">Stock</label>
     <input class="form-control" type="text" name="" id="stock" v-model="product.stock" />
    </div>
    <div class="form-group">
     <label for="category">Category</label>
     <select class="form-control" id="category" v-model="product.category">
      <option> -- select a category --</option>
      <option v-for="(category, index) in categories.data" :key="index">{{ category.name }}</option>
     </select>
    </div>
    <div class="form-group float-right mt-2">
     <button type="submit" class="btn btn-dark me-2 add-product" :disabled="isDisabled">
      Update
     </button>
     <button type="button" class="btn btn-danger"  @click="$bvModal.hide('editProductModal')">
      Cancel
     </button>
    </div>
   </form>
  </b-modal>

  <!-- Delete Product Modal -->

  <b-modal id="deleteProductModal" title="Delete Product" @ok="delProduct(product.id)" ok-title="Delete">
   <p>Are you sure you want to delete this data?</p>
  </b-modal>

 </div>
</template>

<script>
 import { mapActions, mapGetters, mapMutations } from 'vuex';

 export default {
  data() {
   return {
    objData: [],
    product: {
     id: '',
     name: '',
     price: '',
     stock: '',
     category: '',
    },
   };
  },
  computed: {
   ...mapGetters({
    products: 'products/getProducts',
    categories: 'categories/getCategories',
    message: 'products/getMessageProduct',
    isDisabled: 'utils/getDisabled',
    isSuccess: 'products/getSuccessProduct',
   }),
  },
  async mounted() {
    await this.$store.dispatch('user/fetchUser');
   await this.$store.dispatch('categories/fetchCategories');
   await this.$store.dispatch('products/fetchProducts');

  },
  methods: {
   async add() {
    this.$store.commit('utils/setDisabled', true);
    await this.addProduct(this.product);
    if (this.isSuccess) {
     this.messageSuccess(this.message);
     this.$bvModal.hide('addProductModal');

     this.clearFields();
     this.fetchProducts();
    }
    this.$store.commit('utils/setDisabled', false);
   },
   async update(product) {
    this.$store.commit('utils/setDisabled', true);

    await this.updateProduct(product);
    if (this.isSuccess) {
     this.messageSuccess(this.message);
     this.$bvModal.hide('editProductModal');
     this.clearFields();
     this.fetchProducts();
    } else {
     this.messageError('All fields required!');
    }
    this.$store.commit('utils/setDisabled', false);
   },
   currentId(id) {
    this.product.id = id;
   },
   async delProduct(id) {
    this.$store.commit('utils/setDisabled', true);
    await this.deleteProduct(id);
    this.messageSuccess(this.message);
    this.$bvModal.hide('deleteProductModal');
    this.$store.commit('utils/setDisabled', false);
    this.clearFields();
    this.fetchProducts();
   },
   editProduct(item) {
    this.product.id = item.id;
    this.product.name = item.name;
    this.product.price = item.price;
    this.product.stock = item.stock;
    this.product.category = item.category;
   },
   clearFields() {
    this.product.id = '';
    this.product.name = '';
    this.product.price = '';
    this.product.stock = '';
    this.product.category = '';
   },
   ...mapActions('products', ['fetchProducts', 'addProduct', 'deleteProduct', 'updateProduct']),
   ...mapActions('categories', ['fetchCategories']),
   ...mapMutations('utils', ['clearMessage', 'setDisabled']),
   messageSuccess(message) {
    this.$toast.success(message, {
     position: 'top-right',
     timeout: 5000,
     closeOnClick: true,
     pauseOnFocusLoss: true,
     pauseOnHover: true,
     draggable: true,
     draggablePercent: 2,
     showCloseButtonOnHover: true,
     hideProgressBar: true,
     closeButton: 'button',
     icon: true,
     rtl: false,
    });
   },
   messageError(message) {
    this.$toast.error(message, {
     position: 'top-right',
     timeout: 5000,
     closeOnClick: true,
     pauseOnFocusLoss: true,
     pauseOnHover: true,
     draggable: true,
     draggablePercent: 2,
     showCloseButtonOnHover: true,
     hideProgressBar: true,
     closeButton: 'button',
     icon: true,
     rtl: false,
    });
   },
  },
 };
</script>

<style>
 .close {
  outline: 0 !important;
  border: 0 !important;
  background: transparent !important;
  font-size: 1.4rem;
 }
 button {
  width: 80px;
 }

 .product {
  width: 900px;
  position: relative;
  margin-left: 15rem;
  margin-top: 5rem;
 }

 .avail {
  font-size: 20px;
 }

 .add-product {
  width: 140px;
 }

 .btn-action {
  width: 40px;
 }

 .page-link {
  color: #343a40 !important;
 }
 .page-item.active .page-link {
  color: #fff !important;
  background-color: #343a40 !important;
  border-color: #343a40 !important;
 }

 .product {
  position: relative;
 }
 .page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(113 113 113 / 25%);
 }

 @media (max-width: 750px) {
  .product {
   width: 600px;
   margin-left: 2rem;
   margin-top: 2rem;
  }
 }
</style>
