<template>
    <nav
        class="navbar navbar-expand-lg bg-dark shadow text-light d-flex justify-content-between align-content-center position-fixed"
    >
        <h4 class="ml-5">Inventory System</h4>
        <div class="d-flex align-items-center">
            <span class="user-name">Welcome, {{ user.name }}</span>
            <button
                class="btn btn-danger rounded-pill shadow"
                v-on:click="logout"
            >Logout
            </button>
        </div>
    </nav>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
import API from '../../store/base'

export default {
    computed: {
        ...mapGetters({
            token: "token/getToken",
            user: "user/getUser",
            isDisabled: "utils/getDisabled"
        })
    },
    methods: {
         ...mapMutations('token', ["clearToken"]),
         ...mapMutations('utils', [" setDisabled"]),
        async logout() {
            await API
                .post(`auth/logout?token=${localStorage.getItem("access_token")}`)
                .then(res => {
                    this.messageSuccess(res.data.message);

                    this.clearToken();
                    this.$router.push({ name: "Login" });
                })
                .catch(err => {
                    this.messageError(err.message);
                });
        },
        messageSuccess(message) {
            this.$toast.success(message, {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 2,
                showCloseButtonOnHover: true,
                hideProgressBar: true,
                closeButton: "button",
                icon: true,
                rtl: false
            });
        },
        messageError(message) {
            this.$toast.error(message, {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 2,
                showCloseButtonOnHover: true,
                hideProgressBar: true,
                closeButton: "button",
                icon: true,
                rtl: false
            });
        }
    }
};
</script>

<style>
    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 10vh !important;
        width: 100%;
        padding: 1rem 2rem;
        z-index: 3;
    }
</style>
