<template>
    <div class="sidebar position-fixed fixed-top shadow bg-light">
        <router-link
            to="/"
            class="nav-link p-4"
            :class="activeLink == 'dashboard' ? 'active-link' : ''"
        >
            <i class="fas fa-chart-line"></i> &nbsp; <span>Dashboard</span>
        </router-link>
        <router-link
            to="/category"
            class="nav-link p-4"
            :class="activeLink == 'category' ? 'active-link' : ''"
        >
            <i class="fas fa-list"></i> &nbsp; <span>Category</span>
        </router-link>
        <router-link
            to="/inventory"
            class="nav-link p-4"
            :class="activeLink == 'inventory' ? 'active-link' : ''"
        >
            <i class="fas fa-boxes"></i> &nbsp; <span>Inventory</span>
        </router-link>
    </div>
</template>

<script>
export default {
    props: {
        activeLink: String
    }
};
</script>

<style>
.sidebar {
    width: 200px;
    height: 100vh;
    padding-top: 10vh;
    z-index: 1 !important;
}

.active-link {
    color: #fff !important;
    background-color: #343a40 !important;
}

@media (max-width: 756px) {

    .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-link span{
        display:  none;
    }

    .sidebar {
        width: 4rem;
    }
}
</style>
