<template>
 <div class="category">
  <div class="d-flex justify-content-between align-items-center mb-3">
   <span class="avail">Here are your categories</span>
   <button class="btn btn-dark add-category" v-on:click="$bvModal.show('addCategoryModal')">
    <i class="fas fa-plus-circle"></i> Add Category
   </button>
  </div>
  <table class="table shadow">
   <thead class="bg-dark text-light">
    <th class="text-center">Actions</th>
    <th>ID</th>
    <th>Name</th>
   </thead>
   <tbody>
    <tr v-for="(category, index) in categories.data" :key="index">
     <td class="d-flex justify-content-center align-items-center">
      <button
       class="btn btn-primary me-2"
       data-toggle="modal"
       data-target="#editCategory"
       v-on:click="$bvModal.show('editCategoryModal'); editCategory(category)"
      >
       <i class="bi bi-pencil-square"></i>
      </button>
      <button
       class="btn btn-primary"
       data-toggle="modal"
       data-target="#deleteCategory"
       v-on:click="$bvModal.show('deleteCategoryModal'); currentId(category.id)"
      >
       <i class="bi bi-clipboard-x"></i>
      </button>
     </td>
     <td>{{ category.id }}</td>
     <td>{{ category.name }}</td>
    </tr>
   </tbody>
  </table>

  <pagination class="float-right pagination pagination-sm" :data="categories" @pagination-change-page="fetchCategories">
   <span slot="prev-nav" class="text-dark">&lt; Previous</span>
   <span slot="next-nav" class="text-dark">Next &gt;</span>
  </pagination>


  <b-modal title="Edit Category" hide-footer id="editCategoryModal">
   <form @submit.prevent="update(category)" class="form p-3">
    <div class="form-group">
     <label for="name">Name</label>
     <input class="form-control" type="text" name="" id="name" v-model="category.name" />
    </div>
    <div class="form-group float-right mt-2">
     <button type="submit" class="btn btn-dark add-category" :disabled="isDisabled">
      Update
     </button>
     <button type="button" class="btn btn-danger" data-dismiss="modal">
      Cancel
     </button>
    </div>
   </form>
  </b-modal>

  <b-modal id="deleteCategoryModal" title="Delete Category" @ok="delCategory(category.id)" ok-title="Delete">
   <p>Are you sure you want to delete this data?</p>
  </b-modal>

  <!-- Add Category Modal -->

  <b-modal title="Add Category" id="addCategoryModal" hide-footer>
   <form @submit.prevent="add()" class="form p-3">
    <div class="form-group">
     <label for="name">Name</label>
     <input class="form-control" type="text" id="name" v-model="category.name" />
    </div>
    <div class="mt-3 form-group float-right">
     <button id="btnAddCategory" type="submit" class="btn me-2 btn-dark add-category" :disabled="isDisabled">
      <i class="bi bi-clipboard-plus"></i> Add
     </button>
     <button type="button" class="btn btn-danger" data-dismiss="modal">
      Cancel
     </button>
    </div>
   </form>
  </b-modal>
 </div>
</template>

<script>
 import { mapGetters, mapActions, mapMutations } from 'vuex';
 import $ from 'jquery';

 export default {
  data() {
   return {
    category: {
     id: '',
     name: '',
    },
    data_category: '',
   };
  },
  async mounted() {
    await this.$store.dispatch('user/fetchUser');

   await this.$store.dispatch('categories/fetchCategories');
  },
  computed: {
   ...mapGetters({
    categories: 'categories/getCategories',
    message: 'categories/getMessageCategory',
    isDisabled: 'utils/getDisabled',
    isSuccess: 'categories/getSuccessCategory',
   }),
  },
  methods: {
   async add() {
    this.$store.commit('utils/setDisabled', true);
    await this.addCategory(this.category);
    if (this.isSuccess) {
     this.messageSuccess(this.message);
     this.$bvModal.hide('addCategoryModal');
     this.clearFields();
     this.fetchCategories();
    }
    this.$store.commit('utils/setDisabled', false);
   },
   async update(category) {
    this.$store.commit('utils/setDisabled', true);
    await this.updateCategory(category);
    if (this.isSuccess) {
     this.messageSuccess(this.message);
     this.$bvModal.hide('editCategoryModal');
     this.clearFields();
     this.fetchCategories();
    } else {
     this.messageError('All fields required!');
    }
    this.$store.commit('utils/setDisabled', false);
   },
   currentId(id) {
    this.category.id = id;
   },
   async delCategory(id) {
    this.$store.commit('utils/setDisabled', true);
    await this.deleteCategory(id);
    this.messageSuccess(this.message);
    this.$bvModal.hide('deleteCategoryModal');
    this.$store.commit('utils/setDisabled', false);

    this.clearFields();
    this.fetchCategories();
   },
   editCategory(item) {
    this.category.id = item.id;
    this.category.name = item.name;
   },
   clearFields() {
    this.category.id = '';
    this.category.name = '';
   },
   messageSuccess(message) {
    this.$toast.success(message, {
     position: 'top-right',
     timeout: 5000,
     closeOnClick: true,
     pauseOnFocusLoss: true,
     pauseOnHover: true,
     draggable: true,
     draggablePercent: 2,
     showCloseButtonOnHover: true,
     hideProgressBar: true,
     closeButton: 'button',
     icon: true,
     rtl: false,
    });
   },
   messageError(message) {
    this.$toast.error(message, {
     position: 'top-right',
     timeout: 5000,
     closeOnClick: true,
     pauseOnFocusLoss: true,
     pauseOnHover: true,
     draggable: true,
     draggablePercent: 2,
     showCloseButtonOnHover: true,
     hideProgressBar: true,
     closeButton: 'button',
     icon: true,
     rtl: false,
    });
   },
   ...mapActions('categories', ['fetchCategories', 'addCategory', 'deleteCategory', 'updateCategory']),
   ...mapMutations(['utils/clearMessage', 'utils/setDisabled']),
  },
 };
</script>

<style>
 .category {
  width: 900px;
  position: relative;
  margin-left: 15rem;
  margin-top: 5rem;
 }

 .avail {
  font-size: 20px;
 }

 .add-category {
  width: 150px;
 }

 .btn-action {
  width: 40px;
 }

 .page-link {
  color: #343a40 !important;
 }
 .page-item.active .page-link {
  color: #fff !important;
  background-color: #343a40 !important;
  border-color: #343a40 !important;
 }

 .page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(113 113 113 / 25%);
 }

 @media (max-width: 750px) {
  .category {
   width: 600px;
   margin-left: 2rem;
   margin-top: 2rem;
  }
 }
</style>
